In [1]:
import pandas as pd
import random
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import RobustScaler

In [2]:
s = """INSERT INTO product (shop_id, title, description, price, type, wear_degree, sex, status, created_at, size, brand, color, material, season)
VALUES (1, 'Модные джинсы', 'description', 999.0, 'JEANS', 'FIRST', 'M', 'IN_SALE', '2023-07-28', 'M', 'Lewis', 'Blue', 'Деним', 'SUMMER');

INSERT INTO product (shop_id, title, description, price, type, wear_degree, sex, status, created_at, size, brand, color, material, season)
VALUES (1, 'Армянская футболка', 'description', 1999.0, 'T_SHIRTS', 'SECOND', 'F', 'IN_SALE', '2023-07-28', 'S', 'Armani', 'Yellow', 'Хлопок', 'AUTUMN_SPRING');

INSERT INTO product (shop_id, title, description, price, type, wear_degree, sex, status, created_at, size, brand, color, material, season)
VALUES (1, 'Футболка Келвин Колян', 'description', 1599.0, 'T_SHIRTS', 'NEW', 'M', 'SOLD', '2023-01-28', 'XL', 'Calvin Klein', 'Black', 'Хлопок', 'SUMMER');

INSERT INTO product (shop_id, title, description, price, type, wear_degree, sex, status, created_at, size, brand, color, material, season)
VALUES (1, 'Пиджачок - дурачок', 'description', 6999.0, 'JACKETS', 'FIRST', 'M', 'CREATED', '2023-07-24', 'L', 'Tommy Hilfiger', 'Brown', 'Кожа', 'DEMI');

INSERT INTO product (shop_id, title, description, price, type, wear_degree, sex, status, created_at, size, brand, color, material, season)
VALUES (1, 'Бархатные тяги', 'description', 2500.0, 'SHOES', 'THIRD', 'F', 'IN_SALE', '2023-07-28', 'XS', 'Gucci', 'Black', 'Кожа', 'WINTER');

INSERT INTO product (shop_id, title, description, price, type, wear_degree, sex, status, created_at, size, brand, color, material, season)
VALUES (1, 'Серые шортики', 'description', 800.0, 'T_SHIRTS', 'NEW', 'M', 'CREATED', '2023-07-28', 'M', 'Henderson', 'Grey', 'Деним', 'SUMMER');"""

In [3]:
df = pd.DataFrame(columns= ['shop_id', 'title', 'description', 'price', 'type', 'wear_degree', 'sex', 'status', 'created_at', 'size', 'brand', 'color', 'material', 'season'])
df

Empty DataFrame
Columns: [shop_id, title, description, price, type, wear_degree, sex, status, created_at, size, brand, color, material, season]
Index: []

In [4]:
df.loc[0] = [1, 'Модные джинсы', 'description', 999.0, 'JEANS', 'FIRST', 'M', 'IN_SALE', '2023-07-28', 'M', 'Lewis', 'Blue', 'Деним', 'SUMMER']
df

,shop_id,title,description,price,type,wear_degree,sex,status,created_at,size,brand,color,material,season
0,1,Модные джинсы,description,999.0,JEANS,FIRST,M,IN_SALE,2023-07-28,M,Lewis,Blue,Деним,SUMMER

In [5]:
lis = [[1, 'Модные джинсы', 'description', 999.0, 'JEANS', 'FIRST', 'M', 'IN_SALE', '2023-07-28', 'M', 'Lewis', 'Blue', 'Деним', 'SUMMER'], [1, 'Армянская футболка', 'description', 1999.0, 'T_SHIRTS', 'SECOND', 'F', 'IN_SALE', '2023-07-28', 'S', 'Armani', 'Yellow', 'Хлопок', 'AUTUMN_SPRING'], [1, 'Футболка Келвин Колян', 'description', 1599.0, 'T_SHIRTS', 'NEW', 'M', 'SOLD', '2023-01-28', 'XL', 'Calvin Klein', 'Black', 'Хлопок', 'SUMMER'], [1, 'Пиджачок - дурачок', 'description', 6999.0, 'JACKETS', 'FIRST', 'M', 'CREATED', '2023-07-24', 'L', 'Tommy Hilfiger', 'Brown', 'Кожа', 'DEMI'], [1, 'Бархатные тяги', 'description', 2500.0, 'SHOES', 'THIRD', 'F', 'IN_SALE', '2023-07-28', 'XS', 'Gucci', 'Black', 'Кожа', 'WINTER'], [1, 'Серые шортики', 'description', 800.0, 'T_SHIRTS', 'NEW', 'M', 'CREATED', '2023-07-28', 'M', 'Henderson', 'Grey', 'Деним', 'SUMMER']]

In [6]:
for i in range(6):
    df.loc[i] = lis[i]
df

,shop_id,title,description,price,type,wear_degree,sex,status,created_at,size,brand,color,material,season
0,1,Модные джинсы,description,999.0,JEANS,FIRST,M,IN_SALE,2023-07-28,M,Lewis,Blue,Деним,SUMMER
1,1,Армянская футболка,description,1999.0,T_SHIRTS,SECOND,F,IN_SALE,2023-07-28,S,Armani,Yellow,Хлопок,AUTUMN_SPRING
2,1,Футболка Келвин Колян,description,1599.0,T_SHIRTS,NEW,M,SOLD,2023-01-28,XL,Calvin Klein,Black,Хлопок,SUMMER
3,1,Пиджачок - дурачок,description,6999.0,JACKETS,FIRST,M,CREATED,2023-07-24,L,Tommy Hilfiger,Brown,Кожа,DEMI
4,1,Бархатные тяги,description,2500.0,SHOES,THIRD,F,IN_SALE,2023-07-28,XS,Gucci,Black,Кожа,WINTER
5,1,Серые шортики,description,800.0,T_SHIRTS,NEW,M,CREATED,2023-07-28,M,Henderson,Grey,Деним,SUMMER

In [7]:
for i in range(1, 100):
    lis.append([random.randint(0,3), "poher", "description", float(random.randint(500, 15000)),random.choice(["JEANS", "T_SHIRTS", "JACKETS", "SHOES", "SHIRTS"]), random.choice(["FIRST", "SECOND", "THIRD", "NEW"]), random.choice(["M", "F"]), random.choice(["IN_SALE","SOLD", "CREATED"]), "2023-07-28", random.choice(["XS","S", "M", "L","XL"]), random.choice(["Lewis", "Armani", "Calvin Klein", "Tommy Hilfiger", "Gucci", "Henderson"]), random.choice(["Yellow", "Blue", "Brown", "Grey", "Black", "Red", "Green"]), random.choice(["Деним", "Хлопок", "Кожа"]), random.choice(["SUMMER", "AUTUMN_SPRING", "DEMI", "WINTER"])])

In [8]:
for i in range(105):
    df.loc[i] = lis[i]
df

,shop_id,title,description,price,type,wear_degree,sex,status,created_at,size,brand,color,material,season
0,1,Модные джинсы,description,999.0,JEANS,FIRST,M,IN_SALE,2023-07-28,M,Lewis,Blue,Деним,SUMMER
1,1,Армянская футболка,description,1999.0,T_SHIRTS,SECOND,F,IN_SALE,2023-07-28,S,Armani,Yellow,Хлопок,AUTUMN_SPRING
2,1,Футболка Келвин Колян,description,1599.0,T_SHIRTS,NEW,M,SOLD,2023-01-28,XL,Calvin Klein,Black,Хлопок,SUMMER
3,1,Пиджачок - дурачок,description,6999.0,JACKETS,FIRST,M,CREATED,2023-07-24,L,Tommy Hilfiger,Brown,Кожа,DEMI
4,1,Бархатные тяги,description,2500.0,SHOES,THIRD,F,IN_SALE,2023-07-28,XS,Gucci,Black,Кожа,WINTER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,0,poher,description,11959.0,SHOES,THIRD,M,IN_SALE,2023-07-28,XS,Gucci,Black,Деним,DEMI
101,2,poher,description,1154.0,JACKETS,FIRST,M,IN_SALE,2023-07-28,S,Armani,Yellow,Кожа,WINTER
102,2,poher,description,8614.0,SHOES,THIRD,F,IN_SALE,2023-07-28,XS,Gucci,Brown,Кожа,DEMI
103,2,poher,description,526.0,SHIRTS,NEW,F,SOLD,2023-07-28,M,Tommy Hilfiger,Yellow,Хлопок,WINTER
104,1,poher,description,6174.0,JACKETS,NEW,F,IN_SALE,2023-07-28,XL,Tommy Hilfiger,Green,Хлопок,WINTER

In [9]:
df_train = df
df_train = df_train.drop(["title" , "description", "status" ,"created_at"], axis= 1)
df_train = pd.get_dummies(df_train)
scaler = RobustScaler()
df_train = scaler.fit_transform(df_train)
df_train

array([[ 0.        , -0.82347723,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.        , -0.67563572,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        , -0.73477232,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.5       ,  0.3023359 ,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [ 0.5       , -0.89340627,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.        , -0.0583974 ,  1.        , ...,  0.        ,
         0.        ,  1.        ]])

In [10]:
model = NearestNeighbors(n_neighbors= 6)
model.fit(df_train)

NearestNeighbors(n_neighbors=6)

In [23]:
from scipy.spatial.distance import minkowski

weights = [1] * df_train.shape[1]
weights[1] = 100000
#weights[5] = 1000
from functools import partial

w_minkowski = partial(minkowski, p=1, w=weights)
nbrs = NearestNeighbors(algorithm='brute', metric=w_minkowski, n_jobs=-1)
nbrs.fit(df_train)

NearestNeighbors(algorithm='brute',
                 metric=functools.partial(<function minkowski at 0x000001CCFFE9D000>, p=1, w=[1, 100000, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]),
                 n_jobs=-1)

In [15]:
#arr = model.kneighbors([df_train.iloc[12]], n_neighbors= 5)[1]
arr = nbrs.kneighbors([df_train[34]], n_neighbors= 10)[1]
df.iloc[arr[0]]

,shop_id,title,description,price,type,wear_degree,sex,status,created_at,size,brand,color,material,season
34,2,poher,description,12553.0,T_SHIRTS,SECOND,M,SOLD,2023-07-28,L,Henderson,Brown,Деним,SUMMER
99,2,poher,description,14157.0,SHOES,THIRD,M,SOLD,2023-07-28,L,Henderson,Brown,Хлопок,SUMMER
25,0,poher,description,4821.0,T_SHIRTS,SECOND,M,CREATED,2023-07-28,M,Armani,Brown,Деним,AUTUMN_SPRING
5,1,Серые шортики,description,800.0,T_SHIRTS,NEW,M,CREATED,2023-07-28,M,Henderson,Grey,Деним,SUMMER
79,2,poher,description,9913.0,JACKETS,FIRST,M,CREATED,2023-07-28,XL,Henderson,Brown,Деним,DEMI
60,3,poher,description,12827.0,SHIRTS,SECOND,M,IN_SALE,2023-07-28,L,Armani,Brown,Хлопок,DEMI
30,3,poher,description,12232.0,JEANS,THIRD,M,SOLD,2023-07-28,L,Lewis,Yellow,Деним,SUMMER
35,1,poher,description,11057.0,T_SHIRTS,FIRST,F,SOLD,2023-07-28,L,Gucci,Yellow,Деним,SUMMER
19,3,poher,description,8150.0,JACKETS,SECOND,M,CREATED,2023-07-28,L,Lewis,Brown,Кожа,AUTUMN_SPRING
27,1,poher,description,8054.0,SHIRTS,SECOND,M,CREATED,2023-07-28,S,Gucci,Red,Деним,SUMMER

In [24]:
#arr = model.kneighbors([df_train.iloc[12]], n_neighbors= 5)[1]
arr = nbrs.kneighbors([df_train[34]], n_neighbors= 10)[1]
df.iloc[arr[0]]

,shop_id,title,description,price,type,wear_degree,sex,status,created_at,size,brand,color,material,season
34,2,poher,description,12553.0,T_SHIRTS,SECOND,M,SOLD,2023-07-28,L,Henderson,Brown,Деним,SUMMER
8,1,poher,description,12590.0,JEANS,SECOND,F,IN_SALE,2023-07-28,XS,Gucci,Blue,Хлопок,WINTER
20,1,poher,description,12505.0,SHOES,FIRST,F,CREATED,2023-07-28,S,Gucci,Black,Кожа,DEMI
93,3,poher,description,12751.0,T_SHIRTS,SECOND,F,CREATED,2023-07-28,XS,Calvin Klein,Grey,Кожа,DEMI
60,3,poher,description,12827.0,SHIRTS,SECOND,M,IN_SALE,2023-07-28,L,Armani,Brown,Хлопок,DEMI
42,3,poher,description,12245.0,SHOES,SECOND,F,IN_SALE,2023-07-28,S,Calvin Klein,Black,Хлопок,DEMI
30,3,poher,description,12232.0,JEANS,THIRD,M,SOLD,2023-07-28,L,Lewis,Yellow,Деним,SUMMER
47,3,poher,description,12137.0,JACKETS,THIRD,M,SOLD,2023-07-28,S,Tommy Hilfiger,Yellow,Кожа,DEMI
67,3,poher,description,13045.0,SHIRTS,SECOND,F,SOLD,2023-07-28,XL,Gucci,Blue,Деним,WINTER
100,0,poher,description,11959.0,SHOES,THIRD,M,IN_SALE,2023-07-28,XS,Gucci,Black,Деним,DEMI

In [12]:
model.kneighbors_graph([df_train.iloc[102]], n_neighbors= 5)

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'